## CS513 Data Cleansining foodinspection dataset

In [1]:
import os
import sqlite3
import pandas as pd
conn = sqlite3.connect('foodinspection.db')

### Create baseTable
#### If a table exists, it will be dropped from the sql server database

In [2]:
drop_table = '''

DROP TABLE IF EXISTS foodinspection_table;

'''

create_table = '''

CREATE TABLE foodinspection_table (
Inspection_ID int(7) NOT NULL,
DBA_Name VARCHAR(255) NOT NULL,
AKA_Name VARCHAR(255) NULL,
License int(7) NOT NULL,
Facility_Type VARCHAR(255) NULL,
Risk VARCHAR(255) NOT NULL,
Address VARCHAR(255) NULL,
City VARCHAR(255) NULL,
State VARCHAR(255) NULL,
Zip int(5) NULL,
Inspection_Date date NULL,
Inspection_Type VARCHAR(255) NULL,
Results VARCHAR(255) NULL,
latitude decimal(10,8),
longitude decimal(10,8),
Violation_1 VARCHAR(255) NULL,
Violation_2 VARCHAR(255) NULL,
Violation_3 VARCHAR(255) NULL,
Violation_4 VARCHAR(255) NULL,
Violation_5 VARCHAR(255) NULL,
Violation_6 VARCHAR(255) NULL,
Violation_7 VARCHAR(255) NULL,
Violation_8 VARCHAR(255) NULL,
Violation_9 VARCHAR(255) NULL,
Violation_10 VARCHAR(255) NULL,
Violation_11 VARCHAR(255) NULL,
Violation_12 VARCHAR(255) NULL,
Violation_13 VARCHAR(255) NULL,
Violation_14 VARCHAR(255) NULL,
Violation_15 VARCHAR(255) NULL,
Violation_16 VARCHAR(255) NULL,
Violation_17 VARCHAR(255) NULL,
Violation_18 VARCHAR(255) NULL,
Violation_19 VARCHAR(255) NULL,
Violation_20 VARCHAR(255) NULL,
Violation_21 VARCHAR(255) NULL,
Violation_22 VARCHAR(255) NULL,
Violation_23 VARCHAR(255) NULL,
Violation_24 VARCHAR(255) NULL,
Violation_25 VARCHAR(255) NULL,
Violation_26 VARCHAR(255) NULL,
Violation_27 VARCHAR(255) NULL,
Violation_28 VARCHAR(255) NULL,
Violation_29 VARCHAR(255) NULL,
Violation_30 VARCHAR(255) NULL,
Violation_31 VARCHAR(255) NULL,
Violation_32 VARCHAR(255) NULL,
Violation_33 VARCHAR(255) NULL,
Violation_34 VARCHAR(255) NULL,
Violation_35 VARCHAR(255) NULL,
Violation_36 VARCHAR(255) NULL,
Violation_37 VARCHAR(255) NULL,
Violation_38 VARCHAR(255) NULL,
Violation_39 VARCHAR(255) NULL,
Violation_40 VARCHAR(255) NULL,
Violation_41 VARCHAR(255) NULL,
Violation_42 VARCHAR(255) NULL,
Violation_43 VARCHAR(255) NULL,
Violation_44 VARCHAR(255) NULL,
Violation_45 VARCHAR(255) NULL,
Violation_70 VARCHAR(255) NULL
);

'''

In [3]:
conn.execute(drop_table)
conn.execute(create_table)
conn.commit()

### Populate SQL foodinspection Table

In [4]:
insert_table = '''

INSERT INTO foodinspection_table (
Inspection_ID,
DBA_Name,
AKA_Name,
License,
Facility_Type,
Risk,
Address,
City,
State,
Zip,
Inspection_Date,
Inspection_Type,
Results,
latitude,
longitude,
Violation_1,
Violation_2,
Violation_3,
Violation_4,
Violation_5,
Violation_6,
Violation_7,
Violation_8,
Violation_9,
Violation_10,
Violation_11,
Violation_12,
Violation_13,
Violation_14,
Violation_15,
Violation_16,
Violation_17,
Violation_18,
Violation_19,
Violation_20,
Violation_21,
Violation_22,
Violation_23,
Violation_24,
Violation_25,
Violation_26,
Violation_27,
Violation_28,
Violation_29,
Violation_30,
Violation_31,
Violation_32,
Violation_33,
Violation_34,
Violation_35,
Violation_36,
Violation_37,
Violation_38,
Violation_39,
Violation_40,
Violation_41,
Violation_42,
Violation_43,
Violation_44,
Violation_45,
Violation_70
)
values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)

'''

In [5]:
df = pd.read_csv("../Datasets/Food_Inspections_Python_cleaned.csv")
cur = conn.cursor()
try:
    for index, row in df.iterrows():
        # print(row['Inspection ID'], row['DBA Name'], row['AKA Name'], row['License #'], row['Facility Type'], row.Risk, row.Address, row.City,row.State, row.Zip, row['Inspection Date'], row['Inspection Type'], row.Results, row.Latitude, row.Longitude, row['Violation 1'], row['Violation 2'], row['Violation 3'], row['Violation 4'], row['Violation 5'], row['Violation 6'], row['Violation 7'], row['Violation 8'], row['Violation 9'], row['Violation 10'], row['Violation 11'], row['Violation 12'], row['Violation 13'], row['Violation 14'], row['Violation 15'], row['Violation 16'], row['Violation 17'], row['Violation 18'], row['Violation 19'], row['Violation 20'], row['Violation 21'], row['Violation 22'], row['Violation 23'], row['Violation 24'], row['Violation 25'], row['Violation 26'], row['Violation 27'], row['Violation 28'], row['Violation 29'], row['Violation 30'], row['Violation 31'], row['Violation 32'], row['Violation 33'], row['Violation 34'], row['Violation 35'], row['Violation 36'], row['Violation 37'], row['Violation 38'], row['Violation 39'], row['Violation 40'], row['Violation 41'], row['Violation 42'], row['Violation 43'], row['Violation 44'], row['Violation 45'], row['Violation 70'])
        cur.execute(insert_table, (row['Inspection ID'], row['DBA Name'], row['AKA Name'], row['License #'], row['Facility Type'], row.Risk, row.Address, row.City,row.State, row.Zip, row['Inspection Date'], row['Inspection Type'], row.Results, row.Latitude, row.Longitude, row['Violation 1'], row['Violation 2'], row['Violation 3'], row['Violation 4'], row['Violation 5'], row['Violation 6'], row['Violation 7'], row['Violation 8'], row['Violation 9'], row['Violation 10'], row['Violation 11'], row['Violation 12'], row['Violation 13'], row['Violation 14'], row['Violation 15'], row['Violation 16'], row['Violation 17'], row['Violation 18'], row['Violation 19'], row['Violation 20'], row['Violation 21'], row['Violation 22'], row['Violation 23'], row['Violation 24'], row['Violation 25'], row['Violation 26'], row['Violation 27'], row['Violation 28'], row['Violation 29'], row['Violation 30'], row['Violation 31'], row['Violation 32'], row['Violation 33'], row['Violation 34'], row['Violation 35'], row['Violation 36'], row['Violation 37'], row['Violation 38'], row['Violation 39'], row['Violation 40'], row['Violation 41'], row['Violation 42'], row['Violation 43'], row['Violation 44'], row['Violation 45'], row['Violation 70']))
except Exception as e:
    print("Exception:", e)

conn.commit()
cur.close()

C:\Users\junyang\AppData\Local\Temp\ipykernel_19112\1804426767.py:1: DtypeWarning: Columns (20,30,38,60) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../python/Food_Inspections_Python_cleaned.csv")

#### 1.check DBA Name, License #, latitude, longitude, risk, result all populated

In [6]:
DBA_NULL = pd.read_sql('select * from foodinspection_table where DBA_Name is NULL', conn)
print("number of row with Null DBA: ", len(DBA_NULL))

License_NULL = pd.read_sql('select * from foodinspection_table where License is NULL', conn)
print("number of row with Null License #: ", len(License_NULL))

GPS_NULL = pd.read_sql('select * from foodinspection_table where (latitude is NULL or longitude is NULL)', conn)
print("number of row with Null latitude or longitude: ", len(GPS_NULL))

Risk_NULL = pd.read_sql('select * from foodinspection_table where Risk is NULL', conn)
print("number of row with Null Risk: ", len(Risk_NULL))

Results_NULL = pd.read_sql('select * from foodinspection_table where Results is NULL', conn)
print("number of row with Null Results: ", len(Results_NULL))

number of row with Null DBA:  0
number of row with Null License #:  0
number of row with Null latitude or longitude:  0
number of row with Null Risk:  0
number of row with Null Results:  0

#### 2.latitude must be in [0,90] and longitude should be [-180, 180]

In [7]:
CPS_check = pd.read_sql("select latitude,longitude from foodinspection_table where (cast(longitude as FLOAT) > 180 OR cast(longitude as FLOAT) < -180 OR cast(latitude as FLOAT) < 0 OR cast(latitude as FLOAT) > 90) OR (longitude is NULL OR latitude is NULL OR longitude = '' OR latitude = '')",conn)
print("number of row with invalid geo coordinates : ", len(CPS_check))

number of row with invalid geo coordinates :  0

#### 3.Every License number has unique address

In [8]:
License_pair_check = pd.read_sql("select distinct f1.License, f1.Address from foodinspection_table as f1 inner join foodinspection_table as f2 on (f1.License = f2.License AND f1.Address != f2.Address AND f1.Inspection_ID != f2.Inspection_ID)",conn)
print(License_pair_check)
# print("number of row with invalid License pair: ", len(License_pair_check))

     License                     Address
0          0          4225 N CENTRAL AVE
1    2196808      6038-6040 S PULASKI RD
2    1574001          1060 W ADDISON AVE
3    2320340         2700-2712 W 51ST ST
4    1997579  6344-6348 W IRVING PARK RD
..       ...                         ...
579        0            13015 S ELLIS ST
580  2008948        8750 W BRYN WAWR AVE
581  2004238              1800 E 79TH ST
582  1717420             1960 W 13 TH ST
583  2009231     11919 S AVENUE O AVE FL

[584 rows x 2 columns]

## Compare original data with cleaned data
### Create and Populate SQL foodinspection Table from original dataset

In [9]:
drop_table_original = '''

DROP TABLE IF EXISTS foodinspection_table_original;

'''

create_table_original = '''

CREATE TABLE foodinspection_table_original (
Inspection_ID int(7) NOT NULL,
DBA_Name VARCHAR(255) NULL,
AKA_Name VARCHAR(255) NULL,
License int(7) NULL,
Facility_Type VARCHAR(255) NULL,
Risk VARCHAR(255) NULL,
Address VARCHAR(255) NULL,
City VARCHAR(255) NULL,
State VARCHAR(255) NULL,
Zip int(5) NULL,
Inspection_Date date NULL,
Inspection_Type VARCHAR(255) NULL,
Results VARCHAR(255) NULL,
Violations VARCHAR(255) NULL,
latitude decimal(10,8),
longitude decimal(10,8),
Location VARCHAR(255) NULL
);

'''

insert_table_original = '''

INSERT INTO foodinspection_table_original (
Inspection_ID,
DBA_Name,
AKA_Name,
License,
Facility_Type,
Risk,
Address,
City,
State,
Zip,
Inspection_Date,
Inspection_Type,
Results,
Violations,
latitude,
longitude,
Location
)
values(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)

'''

In [10]:
conn.execute(drop_table_original)
conn.execute(create_table_original)
conn.commit()

In [11]:
df_original = pd.read_csv("../Datasets/Food_Inspections.csv")
cur = conn.cursor()
try:
    for index, row in df_original.iterrows():
        # print(row['Inspection ID'], row['DBA Name'], row['AKA Name'], row['License #'], row['Facility Type'], row.Risk, row.Address, row.City,row.State, row.Zip, row['Inspection Date'], row['Inspection Type'], row.Results, row.Violations, row.Latitude, row.Longitude, row.Location)
        cur.execute(insert_table_original, (row['Inspection ID'], row['DBA Name'], row['AKA Name'], row['License #'], row['Facility Type'], row.Risk, row.Address, row.City,row.State, row.Zip, row['Inspection Date'], row['Inspection Type'], row.Results, row.Violations, row.Latitude, row.Longitude, row.Location))
except Exception as e:
    print("Exception:", e)

conn.commit()
cur.close()

In [26]:
u1 = pd.read_sql("select * from foodinspection_table where (Facility_Type == 'Church Kitchen' AND City == 'CHICAGO' AND Results == 'Pass')",conn)
print("number of Church Kitchen in Chicago have pass the food inspection: ", len(u1))

number of Church Kitchen in Chicago have pass the food inspection:  16

In [27]:
u1_original = pd.read_sql("select * from foodinspection_table_original where (Facility_Type == 'Church Kitchen' AND City == 'CHICAGO' AND Results == 'Pass')",conn)
print("number of Church Kitchen in Chicago have pass the food inspection: ", len(u1_original))

number of Church Kitchen in Chicago have pass the food inspection:  3

In [28]:
u1 = pd.read_sql('''select * from foodinspection_table where (DBA_Name == "MCDONALD'S" AND Risk == "Risk 1 (High)")''',conn)
print("number of MCDONALD'S have High Risk: ", len(u1))

number of MCDONALD'S have High Risk:  67

In [29]:
u1_original = pd.read_sql('''select * from foodinspection_table_original where (DBA_Name == "MCDONALD'S" AND Risk == "Risk 1 (High)")''',conn)
print("number of MCDONALD'S have High Risk: ", len(u1_original))

number of MCDONALD'S have High Risk:  36